{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Video Game Data Tracker {% endblock %}</h1>
{% endblock %}

{% block content %}
<h1 style="text-align: center">Platform and Global Sales</h1>
<canvas id="genresalesbyregion"></canvas>

<a href="{{ url_for('VGStats.index') }}"> Index </a> |
<a href="{{ url_for('VGStats.game_search') }}"> Search </a> |
<a href="{{ url_for('VGStats.genre_by_region') }}"> Genre By Region </a> |
<a href="{{ url_for('VGStats.publisher_by_console') }}"> Publisher By Console </a>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>




    var ctx = document.getElementById('genresalesbyregion').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['NA','EU','JP','Other'],
            datasets: [{% for item in dictionary%}
                            {
                            backgroundColor: 'rgba({{range(1, 255)|random}},{{range(1, 255)|random}},{{range(1, 255)|random}})',
                            label: '{{item}}',
                            data: [{{dictionary[item]['NA']}},{{dictionary[item]['EU']}},{{dictionary[item]['JP']}},{{dictionary[item]['Other']}}]
                            },
                            {%endfor%}]
        },

        options: {}
    });
</script>
{% endblock %}